.profile-image{
    border-radius: 50%;
    max-width: 30%;
    height: auto;
    
}

.scale_width{
    max-width:100%;
    height: 100%;
    object-fit:contain
}

.UHH-image{
    max-width: 15%;
    height: auto;
}

.iap-image{
    max-width: 15%;
    height: auto;
}